.container {
  display: flex;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  padding: 12px;
}

section button {
  margin: 24px 0;
}

section center img {
  width: 150px;
  height: auto;
}

span {
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}